# Node.js dependencies
node_modules/

# Build output for clients

# Build output for server-side services
servers/authentication/dist/
servers/lib/dist/

# TypeScript build info
tsconfig.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
~$*

# Environment files
.env
.env.local
.env.*.local

# Miscellaneous
*.bak
*.orig

